Slides/~$T18 - COLSCI - MPU6050.pptx
Slides/~$T18 - COLSCI_ Oscillatore_di_Duffing
Slides/~$S11_Oscillatore_di_Duffing
Data/newData/heatmap4khz_100Takes_alllTogether.txt
Data/newData/4khz100TakesNarrowRange_allTogether.txt
